
html, body {
    background-color:dimgray;
    color:black;
    padding: 0.5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header{
    padding: 5px;
    background-color:lightgrey;
    align-items: right;
    border-bottom: 1px dotted black;
    text-align: left;
}

.header img{
    position: absolute;
    top: 0px;
    right: 0px;
}

.toptab{
    background-color:lightgrey;
    display: flex;
}

.toptab button.active{
    background-color:dimgray;
    color:rgb(85, 187, 182);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom:none;
}

.tablinks {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    background-color:inherit;
    border:none;
    font-weight: bold;
}

.tablinks:hover {
    background-color:dimgray;
    color:rgb(85, 187, 182);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom:none;
}

.tabcontent {
    text-align: center;
    display: none;
    padding: 20px;
  }





  thead, tfoot {
    background-color: #2c5e77;
    color: #fff;
  }
  
  tbody {
    background-color: #e4f0f5;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
  }
  
  #myChart{
    width:100%;
    max-width:600px;
    background-color:white;
  
  }


  .footer {
    
    background-color: inherit;
    color: greenyellow;
    bottom: 0;
    font-size: 8px;
    text-align: center;
  }
