
html,
body {
  margin: 0;
  background-color:whitesmoke;
  padding: 2px 2px;
}

/* Top header */

  .header{
    padding: 1px 1px;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #ccc;
  }

  #idCurrVY{
    position: absolute;
    right:1%;
  }
  

/* Style the topnav links */

  .toptab{
    background-color:aliceblue;
    display: flex;
    
  }

  .tablinks {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    background-color:inherit;
    border:none;
    font-weight: bold;
  }

  .tablinks:hover {
    background-color: whitesmoke;
    color:darkcyan;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom:none;
  }

  .toptab button.active{
      background-color: whitesmoke;
      color:darkcyan;
      border-bottom:none;
      border-top-style: solid;
      border-left-style: solid;
      border-right-style: solid;
  }

  .tabcontent {
    text-align: center;
    display: none;
  }


/* Style the tables*/

.TableSum {
  border: 3px solid;
  border-spacing:0 ;

}
  .TableSum td{
    border: 1px solid;
    border-spacing:0 ;
    padding: 3px 3px;
    border-left: none;
    border-right:1px dotted;
    border-bottom: none;

  }

  .TableSum th{
    
    border-spacing:0 ;
    padding: 3px 3px;
    border-left: none;
    border-right:1px dotted;
    border-bottom: none;
  }

  #TblProjections tr:last-child {
    font-weight: bold;
  }
/* this should be a class */
  #TblMatuarityMeas tr:last-child {
    font-weight: bold;
  }


 